<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/styling :: head-style"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bg">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="header">The post has been successfully deleted!</div>

        <div class="home-link">
            <a class="home" th:href="@{/}"><button class="btn btn-lg editButt">Back to Homepage</button></a>
        </div>

    </div>
<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>