
        <div th:fragment="navbar">

            <div class="navContainer">

                <nav class="navbar navbar-default">


                            <ul class="nav navbar-nav flex-fill">
                                <li class="nav-item">
                                    <a class="navbar-link home" th:href="@{/}">Homepage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="navbar-link newPost" th:href="@{/blogposts/new}">New Blog Post</a>
                                </li>
                            </ul>
                </nav>
            </div>
        </div>





