

body{
	background-color: #4aa96c;
}

.container{
	background-color: rgba(159, 230, 160, 0.8);

	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}


.navContainer {
    display: flex;
    justify-content: center;
    color: #564a4a;
}
.navbar-default {
    display: flex;
    font-size: 36px;
    justify-content: center;
    background-color: #f55c47;
    border-color: #f55c47;
    width: 50%;

}




.header {
    font-size: 56px;
    text-align: center;
    color: #564a4a
}

.buttonContainer form {
    display: inline-block;
}

.buttonContainer button {
    display: inline-block;
}

.timestamp {
    float: right;
}
