

body{
	background-color: #0B4C5F;
}

.container{
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.navbar {
    display: flex;
    font-size: 36px;
    justify-content: center;
}

.header {
    font-size: 56px;
    text-align: center;
}

.buttonContainer form {
    display: inline-block;
}

.buttonContainer button {
    display: inline-block;
}